<template>
  <div class="card-list">
    <h2 class="card__subtitle">{{ title }}</h2>
    <ul class="list">
      <li class="list__item" v-for="item in list" :key="item.id">
        <a v-if="title === 'Products'" href="#" class="list__name">{{ item.name }}</a>
        <span v-else class="list__name">{{ item.name }}</span>
        <span class="list__price">${{ item.price }}</span>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'CardList',
  props: ['title', 'list'],
}
</script>

<style>

</style>