<template>
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
            <slot name="header">
              default header
            </slot>
          </div>

          <div class="modal-body">
            <slot name="body">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Pellentesque pellentesque tempor augue at hendrerit.
              Sed sem tortor, porttitor a consectetur vitae, lobortis non ante.
              Phasellus vestibulum congue lobortis. Vestibulum tristique dui ac ipsum consequat, non sagittis nunc dapibus. Sed vel pulvinar diam, ac mollis nunc. Nunc vehicula lectus non mauris iaculis, ut mollis justo porta. Nullam sed est interdum, porta neque quis, luctus velit. Maecenas lobortis urna non convallis elementum. Sed dignissim magna in tempus placerat. Proin blandit elementum lectus non malesuada. Cras suscipit sed purus at hendrerit. Donec dictum gravida maximus. Curabitur porttitor mi fringilla ipsum sollicitudin ultrices. Sed felis ex, feugiat quis turpis eget, egestas placerat ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
              Fusce sed neque ut ipsum fermentum porta.
            </slot>
          </div>

          <div class="modal-footer">
            <slot name="footer">
              <button class="modal-default-button" @click="$emit('close')">
                Согласен
              </button>
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<style scoped>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 500px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  display: flex;
  flex-flow: column nowrap;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}


.modal-footer {
  align-self: flex-end;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

</style>