<template>
  <div id="app" class="card">
    <h1 class="card__title">Checkout</h1>
    <CardList title="Products" :list="products"/>
    <CardList title="Shipping method" :list="shipping"/>
    <h2 class="card__subtitle">Payment method</h2>
    <div class="tabs">
      <ul class="tabs__list" role="tablist">
        <li class="tabs__item" role="presentation">
          <a href="#A" @click.prevent="changeTab($event)" class="tabs__link tabs__link_active" id="tab-A" role="tab" aria-controls="A" aria-selected="true" tabindex="0">Credit card</a>
        </li>
        <li class="tabs__item" role="presentation">
          <a href="#B" @click.prevent="changeTab($event)" class="tabs__link" id="tab-B" role="tab" aria-controls="B" aria-selected="false" tabindex="-1">Gift card</a>
        </li>
        <li class="tabs__item" role="presentation">
          <a href="#C" @click.prevent="changeTab($event)" class="tabs__link" id="tab-C" role="tab" aria-controls="C" aria-selected="false" tabindex="-1">PayPal</a>
        </li>
      </ul>

      <section id="A" class="tabs__section active" role="tabpanel" aria-labelledby="tab-A" aria-hidden="false">
        <div class="tabs__body">
          <form class="card-form" @submit.prevent="submitForm()">
            <div class="card-form-aside">
              <div class="card-form-wrap">
                <label class="card-form__label">Card number<span>*</span></label>
                <input type="tel" :value="card.number" @input="changeNumber" class="card-form__input" maxlength="19" required name="number">
                <span class="card-form__error">Write full number</span>
              </div>
              <div class="card-form-wrap">
                <label class="card-form__label">Valid thru (mm/yy)<span>*</span></label>
                <select class="card-form__input card-form__input_date" v-model="card.date.month" required>
                  <option :value="n" v-for="(n, index) in 12" :key="index">{{ n }}</option>
                </select>
                <select class="card-form__input card-form__input_date" v-model="card.date.year" required>
                  <option :value="n" v-for="(n, index) in range(20, 28)" :key="index">{{ n }}</option>
                </select>
              </div>
              <div class="card-form-wrap">
                <label class="card-form__label">Cardholder's name<span>*</span></label>
                <input type="text" v-model="card.name" class="card-form__input" required>
              </div>
            </div>
            <div class="card-form-wrap">
              <label class="card-form__label">CVV/CVC<span>*</span></label>
              <input type="tel" v-model="card.cvv" class="card-form__input card-form__input_cvv" maxlength="3" required name="cvv">
              <span class="card-form__error">Write full number</span>
              <div class="card-form-tooltip">
                <div class="card-form-tooltip-img">
                  <img src="./assets/cvv.png" alt="cvv place">
                </div>
              </div>
            </div>
            <label for="MyCustomCheckbox" class="terms">
              <input class="terms__input" type="checkbox" id="MyCustomCheckbox" required>
              <span class="terms__label">I accept the</span>&nbsp;
              <a href="#" @click.prevent="showModal = true">Terms and Conditions</a>
            </label>
            <button type="submit" class="card-form__btn">Place order ($624.99)</button>
          </form>
        </div>
      </section>

      <section id="B" class="tabs__section" role="tabpanel" aria-labelledby="tab-B" aria-hidden="true">
        <div class="tabs__body">
          section b
        </div>
      </section>

      <section id="C" class="tabs__section" role="tabpanel" aria-labelledby="tab-C" aria-hidden="true">
        <div class="tabs__body">
          section c
        </div>
      </section>
    </div>
    <modal v-if="showModal" @close="showModal = false">
      <h3 slot="header">Terms and Conditions.</h3>
    </modal>
  </div>
</template>

<script>
import CardList from '@/components/CardList.vue';
import Modal from '@/components/Modal.vue';

export default {
  name: 'App',
  components: {
    CardList,
    Modal,
  },
  data() {
    return {
      products: [
        {
          id: 1,
          name: 'Apple® - iPad® with Retina® display Wi-Fi - 32GB - White',
          price: 649.00,
        },
        {
          id: 2,
          name: '16GB A Series Walkman Video MP3',
          price: 130.00,
        },
      ],
      shipping: [
        {
          id: 1,
          name: 'FedEx',
          price: 13.99,
        }
      ],
      card: {
        number: null,
        date: {
          month: null,
          year: null,
        },
        name: '',
        cvv: null,
      },
      showModal: false,
    };
  },
  methods: {
    changeTab(event) {
      const tabs = document.querySelectorAll('.tabs__link');
      tabs.forEach(tab => {
        if (tab.classList.contains('tabs__link_active')) {
          tab.classList.remove('tabs__link_active');
        }
      });
      event.target.classList.add('tabs__link_active');

      const tabsSection  = document.querySelectorAll('.tabs__section');
      tabsSection.forEach(section => {
        if (section.classList.contains('active')) {
          section.classList.remove('active');
        }
      });
      document.getElementById(event.target.id[event.target.id.length - 1]).classList.add('active');
    },
    changeNumber(event) {
      this.card.number = event.target.value;
      let value = this.card.number.replace(/\D/g, '');
      if ((/^\d{0,16}$/).test(value)) {
        this.card.number = value.replace(/(\d{4})/, '$1 ').replace(/(\d{4}) (\d{4})/, '$1 $2 ').replace(/(\d{4}) (\d{4}) (\d{4})/, '$1 $2 $3 ');
      }
    },
    submitForm() {
      let errors = 0;
      if (this.card.number.length < 19) {
        let number = document.querySelector('input[name="number"].card-form__input');
        number.classList.add('card-form__input_error');
        errors++;
      }

      if (this.card.cvv.length < 3) {
        let cvv = document.querySelector('input[name="cvv"].card-form__input');
        cvv.classList.add('card-form__input_error');
        errors++;
      }

      if (errors === 0) {
        document.querySelectorAll('.card-form__input').forEach(card => {
          card.classList.remove('card-form__input_error');
        });
        alert('Form submit , your order complete!');
      } else {
        return ;
      }
    },
    range(start, end) {
      return Array(end - start + 1).fill().map((_, idx) => start + idx);
    },
  },
  watch: {
    'card.cvv'(val) {
      this.card.cvv = val.replace(/[^0-9]/gi, "");
    },
  },
}
</script>

<style lang="scss">
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
  }

  .card {
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    max-width: 800px;
    width: 100%;

    &-list {
      margin-bottom: 20px;
      display: flex;
      flex-flow: column nowrap;
      width: 100%;

      .list {
        margin: 0;
        padding-left: 15px;
        display: flex;
        flex-flow: column nowrap;

        &__item {
          margin: 5px 0;
          list-style: none;
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
        }

        &__price {
          font-weight: 600;
        }
      }
    }

    &-form {
      display: flex;
      flex-flow: row wrap;
      align-items: flex-start;

      &-aside {
        margin-right: 30px;
        padding: 20px;
        max-width: 300px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 5px;
      }

      &-wrap {
        position: relative;
        margin-bottom: 10px;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
      }

      &__label {
        width: 100%;

        span {
          margin-left: 5px;
          color: red;
        }
      }

      &__input {
        padding: 5px;
        width: 100%;

        &_date {
          margin: 0 5px;
          max-width: 50px;

          &:first-of-type {
            margin-left: 0;
          }
        }

        &_cvv {
          margin-right: auto;
          max-width: 50px;
        }

        &_error {
          border-color: red;

          & + .card-form__error {
            display: block;
          }
        }
      }

      &-tooltip {
        position: absolute;
        z-index: 10;
        left: 39px;
        top: 27px;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        background-color: #ccc;

        &:before {
          position: absolute;
          content: '?';
          width: 100%;
          height: 100%;
          color: #000;
          text-align: center;
          font-size: 15px;
          font-weight: 600;
        }

        &:hover &{

          &-img {
            opacity: 1;
          }
        }

        &-img {
          position: absolute;
          padding: 5px;
          width: 100px;
          height: 100px;
          opacity: 0;
          pointer-events: none;
          transition: opacity .3s ease-in-out;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      &__btn {
        width: 100%;
        padding: 20px;
        text-align: center;
        background-color: #fe5218;
        color: #fff;
        font-weight: 600;
        border: none;
        border-radius: 5px;
        font-size: 16px;
      }

      &__error {
        position: relative;
        bottom: 0;
        left: 0;
        display: none;
        width: 100%;
        color: red;
      }
    }
  }

  .terms {
    margin: 20px 0 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }

  .tabs {
    display: flex;
    flex-flow: column nowrap;

    &__list {
      margin: 0 -10px 20px;
      padding-left: 0;
      display: flex;
      flex-flow: row nowrap;
      align-self: flex-start;
    }

    &__item {
      margin: 0 10px;
      list-style: none;
    }

    &__link {
      padding: 10px 40px;
      display: block;
      border: 1px solid #cccccc;
      border-radius: 5px;
      color: blue;
      background-color: #fff;
      text-decoration: none;

      &_active {
        background-color: blue;
        border-color: blue;
        color: #fff;
      }
    }

    &__section {
      display: none;

      &.active {
        display: block;
      }
    }
  }
</style>
